body {
    background-color: #0a0a0a;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#background-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(10px); /* Blur efekti başlangıçta */
    }
    50% {
        opacity: 1;
        filter: blur(5px); /* Yavaşça azalacak */
    }
    100% {
        opacity: 0;
        transform: translateX(-100px);
        filter: blur(10px); /* Yine kaybolmadan önce blur artar */
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(100px);
        filter: blur(10px);
    }
    50% {
        opacity: 1;
        filter: blur(5px);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
        filter: blur(10px);
    }
}

@keyframes light-flare {
    0%, 100% {
        opacity: 0;
        filter: blur(15px);
    }
    50% {
        opacity: 1;
        filter: blur(8px);
    }
}

.line {
    position: absolute;
    width: 2px;
    height: 100vh;
    background-color: #ff0000;
    opacity: 0;
    animation-iteration-count: infinite;
    filter: blur(5px);
}

.line.depth-1 {
    background-color: rgba(255, 0, 0, 0.6);
    filter: blur(15px);
}

.line.depth-2 {
    background-color: rgba(255, 0, 0, 0.8);
    filter: blur(10px);
}

.line.depth-3 {
    background-color: rgba(255, 0, 0, 1);
    filter: blur(5px);
}

.light-flare {
    position: absolute;
    width: 4px;
    height: 100vh;
    background-color: #ff3300;
    opacity: 0;
    filter: blur(10px);
    animation: light-flare 3s infinite ease-in-out;
}

.line:nth-child(odd) {
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.line:nth-child(even) {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#terminal {
    width: 80%;
    max-width: 800px;
    height: 400px;
    border: 2px solid #880000;
    box-shadow: 0 0 10px #880000, 0 0 10px #880000, 0 0 20px #880000;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

.xterm {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.85);
    color: #ff3333;
    padding: 10px;
    box-sizing: border-box;
}

.xterm .xterm-viewport::-webkit-scrollbar {
    width: 4px;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #880000;
    border-radius: 10px;
}

.xterm .xterm-viewport {
    border-radius: 10px;
}

.xterm .xterm-cursor {
    border-left: 2px solid #ff0000 !important;
}

::selection {
    background-color: #ff3333;
    color: #0a0a0a;
}
